body{
    background-color: lightgoldenrodyellow;
    margin: 0px auto;
}
header{
    background-color: aqua;
    height: 54px;
    margin: 0px auto;
    
}
.inner{
    background-color: skyblue;
    max-width: 1110px;
    min-width: 600px; /*800px*/
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
#header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    background-color: lightcoral;
    height: 1000px;
    margin: 20px auto;

}
section{
    background-color: lightsalmon;
}
article{
    background-color: yellowgreen;
}

footer{
    background-color: #f6f6f6;
    height: 80px;
}
#footer_content{
    height: 100%;
    display: flex; 
    flex-direction: column; /* 세로 방향 정렬 */
    justify-content: center; /* 부모 높이 내에서 수직 정렬 */
    align-items: center; /* 가로 정렬 */
    text-align: center;
    color: #454545;
}

div{
    background-color: violet;
}
span{
    background-color: yellow;
}
p{
    /*background-color: greenyellow;*/
}