<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>week3-4 webpage</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/layout.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block head %}{% endblock %}
</head>


<body>
   
    <header>
        <div class="inner" id="header_content">
            <div id="header_left">
                <a href="{{ url_for('home') }}"><strong>지식 조각</strong></a>
            </div>
            <div id="header_right">
                {% if session['user_id'] %}
                    <p><strong><a href="{{ url_for('logout') }}">로그아웃</a>&nbsp;|&nbsp;<a href="{{ url_for('my_page') }}">마이페이지</a></strong></p>
                {% else %}
                    <p><strong><a href="{{ url_for('login') }}">로그인</a>&nbsp;|&nbsp;<a href="{{ url_for('join') }}">회원가입</a></strong></p>
                {% endif %}
            </div>
        </div>
    </header>
    
    <main>
        <div class="inner">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="inner" id="footer_content">
            <p style="margin: 10px 0px 0px;" ><strong>지식조각</strong></p>
            <p style="margin-top: 2px; font-size: 0.7em;">지식의 조각을 모으는 공간</p>
        </div>
    </footer>

    <script>

    </script>

</body>
</html>