<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>week3-4 webpage</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/layout.css') }}">
    {% block head %}{% endblock %}
</head>


<body>
   
    <header>
        <div class="inner" id="header_content">
            <div id="header_left">
                <h2 style="margin: 0px;font-size: 1.3em;">지식 조각</h2>
            </div>
            <div id="header_right">
                <p><strong><a href="{{ url_for('login') }}">로그인 </a>&nbsp;|&nbsp;<a href="{{ url_for('join') }}"> 회원가입</a></strong></p>
                <!-- <p><strong><a href="{{ url_for('post') }}">로그인 </a>&nbsp;|&nbsp;<a href="{{ url_for('post') }}"> 회원가입</a></strong></p> -->
            </div>
        </div>
    </header>
    
    <main>
        <div class="inner">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="inner" id="footer_content">
            <p style="margin: 10px 0px 0px;" ><strong>지식조각</strong></p>
            <p style="margin-top: 2px; font-size: 0.7em;">지식의 조각을 모으는 공간</p>
        </div>
    </footer>

    <script>

    </script>

</body>
</html>