{% extends 'layout.html' %}

{% block head %}
<style>
    #main_content {
        text-align: center;
    }
    #join_name {
        text-align: center;
        margin: 70px auto 40px;
    }
    #join_box {
        background-color: #fff;
        width: 40%;
        height: 570px;
        margin: 0px auto;
        padding: 40px 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 7px 0px #9a9a9a;
    }
    #join_box form {
        align-items: center;
    }
    #join_input {
        margin: 20px auto;
    }
    .join_input_s {
        width: 90%;
        height: 40px;
        margin: 3px auto;
        padding: 0px 5px;
        text-align: left;
        border: 0px;
        border-bottom: 1px solid #9a9a9a;
        font-size: 16px;
    }
    #join_input_id {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #user_id {
        width: 75%;
        height: 30px;
        border: 0px;
        font-size: 16px;
    }
    #user_id_chk {
        height: 30px;
        background-color: #fff;
        border: 1px solid #cecece;
        border-radius: 15px;
        color: #000;
        font-size: 14px;
    }
    #join_submit {
        margin: 0px auto;
        padding: 20px 0px;
    }
    #mypage_update_submit button {
        width: 90%;
        height: 40px;
        margin: 0px auto;
        text-align: center;
        border: 0px;
        border-radius: 5px;
        background-color: #033468;
        color: #ffffff;
        font-size: 16px;
    }
    #mypage_update_submit button:hover {
        background-color: #02162c;
    }
</style>
{% endblock %}

{% block content %}
<div id="main_content">
    <div id="join_name">
        <h1>내 정보 수정</h1>
    </div>
    <div id="join_box">
        <form action="{{ url_for('mypage_update') }}" method="post" onsubmit="return func_submit_chk()">
            <div id="join_input">
                <div class="join_input_s" id="join_input_id">
                    <input id="user_id" type="text" name="user_id" placeholder="아이디" required value="{{ user['userId'] }}">
                    <button id="user_id_chk" type="button">
                        &nbsp;변경 불가&nbsp;
                    </button>
                </div>
                <p id="id_msg" style="width: 90%; margin: 3px auto; text-align: left; font-size: 12px;"></p>
                <p><input class="join_input_s" type="email" name="user_email" placeholder="이메일" required value="{{ user['userEmail'] }}"></p>
                <p><input class="join_input_s" type="text" name="user_name" placeholder="이름" required value="{{ user['userName'] }}"></p>
                <p id="pw_change" style="margin: 3px auto 0px;">
                    <input type="checkbox" name="is_pw_change" id="is_pw_change">비밀번호 변경
                </p>
                <p><input class="join_input_s" type="password" id="user_pw" name="user_pw" placeholder="비밀번호" required></p>
                <p style="margin-bottom: 0px;"><input class="join_input_s" type="password" id="user_pw_chk" name="user_pw_chk" placeholder="비밀번호 확인" required></p>
                <p id="pw_msg" style="width: 90%; margin: 3px auto; text-align: left; font-size: 12px;"></p>
                <p><input class="join_input_s" type="text" name="user_orgn" placeholder="소속" required value="{{ user['userOrgn'] }}"></p>
                <p><input class="join_input_s" type="text" name="user_major" placeholder="전공" required value="{{ user['userMajor'] }}"></p>
            </div>
            <div id="mypage_update_submit">
                <button type="submit" name="btn_action" value="submit"><strong>수정</strong></button>
            </div>
        </form>
    </div>
</div>

<script>
    //userid는 변경 불가하도록
    let user_id = document.getElementById('user_id')
    user_id.disabled = true

    let user_pw = document.getElementById('user_pw')
    let user_pw_chk = document.getElementById('user_pw_chk')
    user_pw.disabled = true
    user_pw_chk.disabled = true

    //비번 변경 활성화 여부
    document.getElementById('is_pw_change').addEventListener('change', function() {
        if (this.checked) {
            user_pw.disabled = false; // 비번창 활성화
            user_pw_chk.disabled = false
        } else {
            is_pw_change.value = ''; // 비번값 초기화
            user_pw.disabled = true; // 비번창 비활성화
            user_pw_chk.disabled = true
            
        }
    });

    // 비밀번호 확인
    function func_user_pw_chk() {
        let user_pw = document.getElementById('user_pw').value;
        let user_pw_chk = document.getElementById('user_pw_chk').value;
        let pw_msg = document.getElementById('pw_msg');

        if (user_pw === user_pw_chk) {
            pw_msg.style.color = 'green';
            pw_msg.textContent = '비밀번호가 일치합니다.';
        } else {
            pw_msg.style.color = 'red';
            pw_msg.textContent = '비밀번호가 일치하지 않습니다.';
        }
    }

    // 페이지 로드 후 함수 연결
    document.addEventListener("DOMContentLoaded", function () {
        let user_pw = document.getElementById('user_pw');
        let user_pw_chk = document.getElementById('user_pw_chk');
        
        if (user_pw && user_pw_chk) {
            user_pw.addEventListener('input', func_user_pw_chk);
            user_pw_chk.addEventListener('input', func_user_pw_chk);
        } 
    });
</script>

{% endblock %}
