{% extends 'layout.html' %}


{% block head %}
<style>
    #main_content{
        width: 100%;
        height: 100px;
        text-align: center;
        padding: 100px 0px;
    }
    .next_msg{
       /*  color: #000; */
        font-size: 30px;
    }
    #goto {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button {
        width: 170px;
        height: 30px;
        margin: 0px 5px;
        border: 0px;
        border-radius: 5px;
        background-color: #033468;
        color: #ffffff;
    }
    button:hover {
        background-color: #02162c;
    }
</style>
{% endblock %}


{% block content %}
<div id="main_content">

    {% if state == "join" %}
    <p class="next_msg">회원가입이 완료되었습니다</p>
    <div id="goto">
        <form id="user_join_btn" action="{{ url_for('home') }}">
            <button type="submit">홈으로</button>
        </form>
        <form id="user_join_btn" action="{{ url_for('login') }}">
            <button type="submit">로그인</button>
        </form>
    </div>
    {% endif %}

    {% if state == "user_update" %}
    <p class="next_msg">내 정보 수정이 완료되었습니다</p>
    <div id="goto">
        <form id="post_update_btn" action="{{ url_for('home') }}">
            <button type="submit">홈으로</button>
        </form>
        <form id="post_update_btn" action="{{ url_for('mypage') }}">
            <button type="submit">마이페이지로</button>
        </form>
    </div>
    {% endif %}

    {% if state == "create" %}
    <p class="next_msg">작성이 완료되었습니다</p>
    <div id="goto">
        <form id="post_create_btn" action="{{ url_for('post') }}">
            <button type="submit">게시판 홈으로</button>
        </form>
        <form id="post_create_btn" action="{{ url_for('post_create') }}">
            <button type="submit">추가 새 글 작성</button>
        </form>
    </div>
    {% endif %}

    {% if state == "update" %}
    <p class="next_msg">수정이 완료되었습니다</p>
    <div id="goto">
        <form id="post_update_btn" action="{{ url_for('post') }}">
            <button type="submit">게시판 홈으로</button>
        </form>
        <form id="post_update_btn" action="{{ url_for('post_create') }}">
            <button type="submit">추가 새 글 작성</button>
        </form>
    </div>
    {% endif %}

    {% if state == "delete" %}
    <p class="next_msg">삭제가 완료되었습니다</p>
    <div id="goto">
        <form id="post_update_btn" action="{{ url_for('post') }}">
            <button type="submit">게시판 홈으로</button>
        </form>
    </div>
    {% endif %}

    {% if state == "delete_check" %}
    <p class="next_msg">정말 삭제하시겠습니까?</p>
    <div id="goto">
        <form id="post_deleteN_btn" action="{{ url_for('post') }}">
            <button type="submit">아니요 (게시판 홈으로)</button>
        </form>
        <form id="post_deleteY_btn" action="{{ url_for('post_delete', post_id=post_id) }}" method="post">
            <button type="submit" name="delete_yn" value="yes">예</button>
        </form>
    </div>
    {% endif %}

</div>
{% endblock %}