{% extends 'layout.html' %}


{% block head %}
<style>
    #main_content{
        background-color: #ffffff;
        width: 100%;
    }
    #path a{
        text-decoration: none;
        color: #353535;
    }
    #create_form{
        width: 100%;
        margin: 20px 0px 0px;
    }
    #create_nnp{
        padding: 20px 0px 10px;
        border-bottom: 2px solid #033468;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #create_name{
        color: #033468;
    }
    #create_write{
        background-color: #ffffff;
        height: 850px;
        margin: 10px 0px 10px;
        border-radius: 10px; 
        border: 1.2px solid #eff1f3;
    }
    #create_write_box {
        background-color: #ffffff;
        width: 98%;
        margin: 10px;
    }
    #create_write_box #create_title {
        display: block;
        width: 98%;
        height: 50px;
        border: 0px;
        margin: 0px auto;
        padding: 5px 10px;
        font-size: 22px;
    }
    #create_write_box #create_fileupload{
        height: 30px;
        padding: 10px 10px;
        font-size: 16px;
    }
    #create_write_box hr {
        border: 1px solid #eff1f3;
    }
    #create_write_box textarea {
        display: block;
        width: 98%;
        height: 650px;
        border: 0px;
        margin: 0px auto;
        padding: 10px;
        font-size: 16px;
        resize: none;

    }
    #create_publish_btn button{
        width: 70px;
        height: 30px;
        text-align: center;
        border: 0px;
        border-radius: 5px;
        background-color: #033468;
        color: #ffffff;
    }
    #create_publish_btn button:hover {
        background-color: #02162c;
    }
</style>
{% endblock %}


{% block content %}
<div id="main_content">

    <div id="path">
        <a href="{{ url_for('post') }}">지식조각 게시판</a>
    </div>

    <form action="{{ url_for('post_create') }}" method="post" id="create_form" enctype="multipart/form-data">
        <div id="create_nnp">
            <div id="create_name">
                <p style="margin: 0px; font-size: 28px;"><strong>글쓰기</strong></p>
            </div>
            <div id="create_publish_btn">
                <input type="checkbox" id="is_create_secret" name="create_secret"> 비밀글
                <input type="password" id="create_pw" name="create_pw" placeholder="비밀번호" maxlength="20" style="height: 26px;">
                <button type="submit">발행하기</button>
            </div>
        </div>
        <div id="create_write">
            <div id="create_write_box">
                <input id="create_title" name="create_title" type="text" placeholder="제목을 입력하세요" required>
                <hr>
                <input id="create_fileupload" name="create_file" type="file">
                <hr>
                <textarea id="create_content" name="create_content" placeholder="내용을 입력하세요"  required></textarea>
            </div>
        </div>
    </form>

    {% if errormsg == "emptyFound" %}
    <script>alert("제목과 내용은 필수 입력입니다.")</script>
    {% endif %}

</div>

<script>
    let create_pw = document.getElementById('create_pw')
    create_pw.disabled = true
    // 비밀글 체크 여부에 따라 비번창 활성화
    document.getElementById('is_create_secret').addEventListener('change', function() {
        if (this.checked) {
            create_pw.disabled = false; // 비번창 활성화
        } else {
            create_pw.disabled = true; // 비번창 비활성화
            create_pw.value = ''; // 비번값 초기화
        }
    });

    // 폼 제출 전 비번 입력값 확인
    document.getElementById('create_form').addEventListener('submit', function(event) {
        if (is_create_secret.checked && create_pw.value === '') {
            alert("비밀글 비밀번호를 입력하세요.");
            //create_pw.focus();
            create_pw.style.outline = "2px solid red";
            event.preventDefault(); // 폼 제출 중단
        }else{
            create_pw.style.outline = "";
        }
    });
</script>
{% endblock %}