{% extends 'layout.html' %}


{% block head %}
<style>
    #main_content{
        background-color: yellow;
        padding: 20px 0px 20px;
        
    }
    #post_name{
        background-color: palegreen;
        text-align: center;
        margin: 20px 0px 30px;
    }
    #post_query{
        background-color: tomato;
        height: 100px;
        margin: 20px 0px 20px;
        padding: 20px 0px 20px;
    }
    #post_query_box{
        background-color: tan;
        height: 100px;
        background-color: #eff1f3; /*바탕색*/
        border-radius: 10px; /*모서리 둥글게*/
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .post_query_body{
        margin: 0px 5px 0px;
        text-align: center;
    }
    #query_type{
        width: 100px;
        height: 34px;
    }
    #query_content{
        width: 50%;
        height: 28px;
    }
    #query_submit{
        width: 70px;
        height: 34px;
        border: 0px;
        border-radius: 5px;
        background-color: #033468;
        color: #ffffff;
    }
    #query_submit:hover {
        background-color: #02162c;
    }
    #post_cnc{
        height: 40px;
        padding: 0px 5px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #post_count{
        color: #999999;
    }
    #post_create_btn button{
        width: 70px;
        height: 30px;
        text-align: center;
        border: 0px;
        border-radius: 5px;
        background-color: #033468;
        color: #ffffff;
    }
    #post_create_btn button:hover {
        background-color: #02162c;
    }
    #post_list table{
        width: 100%;
        max-height: 640px;
        border-collapse: collapse; 
        border-top: 2px solid #CD5C5C;
        border-bottom: 2px solid #CD5C5C;
        background-color: #ffffff;
        table-layout: fixed;
        word-break: break-all;
        text-align: center;
    }
    #post_list th, td {
        height: 40px;
        /* border: 1px solid #444444; */ 
        border-bottom: 1px solid #CD5C5C;
    }
    #post_list thead tr {
        border-bottom: 2px solid #CD5C5C;
    }
    #post_list tbody tr:hover { 
        background-color: #F5F5F5; 
    }
</style>
{% endblock %}


{% block content %}
<div id="main_content">
    <div id="post_name">
        <h1 style="margin: 0px;"><strong>지식 조각 게시판</strong></h1>
    </div>
    <div id="post_query">
        <form id="post_query_box" action="/post" method="post">
            <select class="post_query_body" id="query_type" name="query_type">
                <option value="title" {% if query_type == "title" %} selected {% endif %}>제목</option>
                <option value="content" {% if query_type == "content"%} selected {% endif %}>내용</option>
                <option value="all" {% if query_type == "all"%} selected {% endif %}>제목+내용</option>
            </select>
            <input class="post_query_body" id="query_content" name="query_content" type="text" placeholder="검색어를 입력하세요." {% if query_content %}value="{{query_content}}"{% endif %}>
            <input class="post_query_body" id="query_submit" type="submit" value="검색">
        </form>
    </div>
    <div id="post_cnc">
        <div id="post_count">
            <p style="margin: 0px;">총 {{ post_cnt }}개의 글이 있습니다</p> 
        </div>
        <form id="post_create_btn" action="{{ url_for('post_create') }}">
            <button type="submit">글쓰기</button>
        </form>
        <!-- <div id="post_create_btn">
            <a href="{{ url_for('post_create') }}">글쓰기</a>
        </div> -->
    </div>
    <div id="post_list">
        <table>
            <thead>
                <tr>
                    <th style="width: 7%;" >번호</th>
                    <th style="width: 80%;">제목</th>
                    <th style="width: 13%;">작성일</th>
                </tr>
            </thead>
            <tbody>
                {% for post in post_list %}
                <tr>
                    <td>{{ post['postId'] }}</td>
                    <td style="text-align: left;">{{ post['postTitle'] }}</td>
                    <td>{{ post['createdTime'] }}</td>
                </tr>
                {% endfor %}

                {% if post_cnt == 0 %}
                    {% if query_content %}
                    <tr> <td colspan="3">검색된 게시글이 없습니다</td> </tr>
                    {% else %}
                    <tr> <td colspan="3">작성된 게시글이 없습니다</td> </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}